<div id="headerwrap">
    <div class="container">
        <div class="row" style="background-image: url('http://www.hallofframes.com/images/site/art-shipping1.jpg'); background-size: cover; padding-top: 50px; padding-bottom: 50px; margin-bottom: 30px; height: 400px;">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- <h3>Your Local Fine Art Delivery Service</h3>
                <h1>Delivering Art Safely Since 1980.</h1>
                <h5>We pick up your art, package it securely, and send it out for delivery quickly.</h5>
                <h5>We always make sure your art arrives where it needs to be quickly and undamaged.</h5>
                <a href="/contact/"><button class="btn btn-primary">Contact Us</button></a> -->		
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!-- <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive"> -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<!-- <div class="container">
    <div class="row">
        <h3 style="font-weight: 300;">Your local art delivery specialist.</h3>
    </div>
</div> -->