<!-- <div id="portfoliowrap">
    <div class="portfolio-centered container">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.categories['project'] limit:include.limit %}
                <div class="portfolio-item graphic-design col-md-4">
                    <div class="he-wrap tpl6">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img_thumb }}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a0" data-animate="fadeInDown">{{ project.title }}</h3>
                                <a data-rel="prettyPhoto" href="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" class="dmbutton a0" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                             <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                        </div>	
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>  -->

<div class="container mb">
    <ul class="photo-gallery">
        {% for project in site.categories['project'] limit:include.limit %}
        <li class="col-md-4 pull-left"><img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img_thumb }}" alt=""></li>
        {% endfor %}
    </ul>
</div>